<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Basket</title>
    <link th:href="@{/styles/ordering-menu.css}" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- The header -->
    <header>
        <a href="#" class="logo">ResturantNameHere</a>
        <nav class="navbar">
            <a href="#">Home</a> <a href="#">dishes</a> <a href="#">Contact
            us</a> <a href="#">Orders</a>
        </nav>
    </header>

        <table class="basket-table">
            <thead>
                <tr>
                    <th align="left">PRODUCT</th>
                    <th align="left">QTY</th>
                    <th align="right">PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${basketItems}">
                    <td class="qty" th:text="${item.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.priceSum}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2", align="right">Total</td>
                    <td>£50</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>