<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Basket</title>
    <link th:href="@{/styles/ordering-menu.css}" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- The header -->
    <header>
        <a href="#" class="logo">ResturantNameHere</a>
        <nav class="navbar">
            <a href="#">Home</a> <a href="#">dishes</a> <a href="#">Contact
            us</a> <a href="#">Orders</a>
        </nav>
    </header>

    <div class="basketlist">
        <h2>Basket</h2>
        <table>
          <thead>
            <th th:if="${itemsName!=null}" scope="row">PRODUCT</th>
            <th th:if="${itemsSumAmount!=null}" scope="row">QTY</th>
            <th th:if="${itemsSumPrice!=null}" scope="row">PRICE</th>
          </thead>
          <tbody>
            <tr th:each="item: ${itemsName}">
                <td th:text="${item}"></td>
            </tr>
            <tr th:each="itemSumAmount: ${itemsSumAmount}">
                <td th:text="${itemSumAmount}"></td>
            </tr>
            <tr th:each="itemSumPrice:${itemsSumPrice}">
                <td th:text="${itemSumPrice}"></td>
            </tr>
          </tbody>
        </table>
        
        
        <!-- <table class="basket-table" >
            
            
            <thead>
                <tr>
                    <th align="left">PRODUCT</th>
                    <th align="left">QTY</th>
                    <th align="right">PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chicken Curry</td>
                    <td class="qty">1</td>
                    <td>£25</td>
                </tr>
                <tr>
                    <td>Cake</td>
                    <td class="qty">1</td>
                    <td>£25</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2", align="right">Total</td>
                    <td>£50</td>
                </tr>
            </tfoot>
        </table>-->
    </div>
</body>
</html>