<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Current Orders</title>
  <link th:href="@{/styles/ordering-menu.css}" rel="stylesheet" type="text/css">
  </link>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

  <style>
    body {
      background-image: url("images/HomePageImage.jpg");
    }
  </style>
</head>

<body>
<!-- The header -->
<header>
  <a href="#" class="logo">Oaxaca</a>
  <nav class="navbar">
    <a href="home">Home</a>
    <a href="orderingmenu">Dishes</a>
    <a href="#">Contact us</a>
    <a href="basket">Basket/Orders</a>
    <a href="currentOrder">Current Orders</a>
    <div class="navbar-right">
      <a th:if="${session.user}==null" href="login">Login</a>
      <span th:if="${session.user}!=null">
          <a href = "help">Help</a>
          <div class="logoutb">
            <button class="logoutdrop" th:text="${session.user.getUsername}"></button>
            <div class="dropcontent">
              <form th:action="@{/logout}" th:method="post">
                <button class="logout" type="submit">Logout</button>
              </form>
            </div>
          </div>
        </span>
    </div>
  </nav>
</header>

<section class = "helpblock">
  <h2>No Delivered Orders</h2>
</section>
</body>

</html>
