<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ordering Menu</title>
    <link th:href="@{/styles/ordering-menu.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<section class="table">
    <table class="basket-table">
        <thead>
        <tr>
            <th align="left">Item Id</th>
            <th align="left">Item name</th>
            <th align="left">Required amount</th>
            <th align="left">Finished</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${Items}">
            <td class="id" th:text="${item.id}"></td>
            <td class="qty" th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td><input type="checkbox" /></td>
        </tr>
        </tbody>
    </table>
    <input type="button" name="Submit" value="Return" onclick="javascript:history.go(-1)" />
    <form th:action="@{/}" th:method="post">
        <button type="submit">Finish</button>
    </form>
</section>
</body>
</html>