<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Order Confirmation</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><img th:src="@{/images/home-logo.png}" id="hLogo">
    </h1>
    <div class="navigation">
      <a th:href="@{/home}">Home</a>
    </div>
    <div class="center">
      <h2>Order Confirmation Page</h2>
    </div>
    <div class="orderButton">
      <form th:action="@{/confirmOrder}" method="get">
        <button type="submit"> Confirm Order </button>
      </form>
    </div>
  </body>
</html >