<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ordering Menu</title>
    <link th:href="@{/styles/ordering-menu.css}" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>

  <!-- The header -->
  <header>
    <a href="#" class="logo">ResturantNameHere</a>
    <nav class="navbar">
      <a href="home">Home</a>
      <a href="ordering-menu">dishes</a>
      <a href="#">Contact us</a>
      <a href="#">Orders</a>
    </nav>
  </header>

  <!-- The sidebar -->
  <div class="sidebar">
    <a class="active">Our Dishes</a>
    <a href="#">Curries</a>
    <a href="#">AnotherDish</a>
    <a href="#">AnotherDish</a>
  </div>

  <section class="curries" id="curries">
    <h2>Our Curries</h2>
    <ul>
      <li>
        <figure>
          <img src="/images/butter-chicken.png" alt="" >
          <figcaption><h3>Butter Chicken</h3></figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui ex, finibus a nibh eget, aliquet porttitor nunc. Curabitur non ultrices tortor. Quisque gravida ornare placerat. Praesent non mi sit amet felis cursus venenatis. 
        </p>
        <div class="center">
          <button class="order-button">Order</button>
        </div>
      </li>
      <li>
        <figure>
          <img src="/images/butter-chicken.png" alt="" >
          <figcaption><h3>Butter Chicken</h3></figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui ex, finibus a nibh eget, aliquet porttitor nunc. Curabitur non ultrices tortor. Quisque gravida ornare placerat. Praesent non mi sit amet felis cursus venenatis. 
        </p>
        <div class="center">
          <button class="order-button">Order</button>
        </div>
      </li>
      <li>
        <figure>
          <img src="/images/butter-chicken.png" alt="" >
          <figcaption><h3>Butter Chicken</h3></figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui ex, finibus a nibh eget, aliquet porttitor nunc. Curabitur non ultrices tortor. Quisque gravida ornare placerat. Praesent non mi sit amet felis cursus venenatis. 
        </p>
        <div class="center">
          <button class="order-button">Order</button>
        </div>
      </li>
      <li>
        <figure>
          <img src="/images/butter-chicken.png" alt="" >
          <figcaption><h3>Butter Chicken</h3></figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui ex, finibus a nibh eget, aliquet porttitor nunc. Curabitur non ultrices tortor. Quisque gravida ornare placerat. Praesent non mi sit amet felis cursus venenatis. 
        </p>
        <div class="center">
          <button class="order-button">Order</button>
        </div>
      </li>
    </ul>
  </section>
  </body>
</html >