<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link th:href="@{/styles/menuStyle.css}" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><img th:src="@{/images/home-logo.png}" id="hLogo">
    </h1>
    <table>
    	<thead>
	    	<th th:if="${Orders!=null}" scope="row">Orders</th>
	    	<th th:if="${Orders!=null}" scope="row">OrderID</th>
		</thead>
		<tr th:each="order: ${Orders}">
			<td>
			<form th:action="@{/deleteOrder}" method="get">
				<input type="hidden" name ="orderID" th:value="${order.orderid}" />
				<button type="submit">Delete this item</button>
			</form>
			</td>
			<td th:text="${order.orderid}"></td>
		</tr> 
	</table>
  </body>
</html >