<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <link th:href="@{/styles/ordering-menu.css}" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="otherStateOrder">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Table Number</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Table Number</th>
                <th>Delivered?</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>