<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Ordering Menu</title>
  <link th:href="@{/styles/ordering-menu.css}" rel="stylesheet"
  type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript"
  src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<!-- The header -->
  <header>
    <a href="#" class="logo">ResturantNameHere</a>
    <nav class="navbar">
      <a href="#">Home</a> <a href="#">dishes</a> <a href="#">Contact
        us</a> <a href="#">Orders</a> <a href="basket">basket</a>
    </nav>
  </header>
</html>
